<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
    <appender name="kafkaAppender" class="com.microservices.kafkamicroservice.config.KafkaAppender">
            <encoder>
                <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
            </encoder>
            <topic>tas_logs</topic>
            <keyingStrategy class="com.microservices.kafkamicroservice.keying.impl.NoKeyKeyingStrategy" />
            <deliveryStrategy class="com.microservices.kafkamicroservice.delivery.impl.AsynchronousDeliveryStrategy" />
           
            <producerConfig>bootstrap.servers=localhost:9092</producerConfig>

            <appender-ref ref="STDOUT" />
        </appender>

    <root level="info">
        <appender-ref ref="kafkaAppender" />
    </root>
</configuration>
